div, p, span, ul, li, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
}

body, p, ul, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.btn {
  display: block;
  text-align: center;
  background-color: #E8504F;
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

body {
  font-family: Microsoft YaHei,SimHei,SimSun;
  min-width: 1280px;
  line-height: 1.5;
  margin: auto;
  background-color: #FFF;
}

.header {
  position: relative;
  height: 58px;
  line-height: 58px;
  font-family: SimHei;
  padding: 0 64px 0 59px;
}

.logo {
  position: relative;
  float: left;
  font-size: 21px;
  color: #000;
  padding-left: 41px;
}
.logo img {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 50%;
  left: 0;
  margin-top: -16px;
}

.nav {
  float: right;
  font-size: 15px;
}
.nav li {
  float: left;
  margin-top: -4px;
  padding: 0 18px;
}
.nav li a {
  display: block;
  color: #83868D;
}
.nav li.on {
  border-bottom: 4px #E65051 solid;
}
.nav li.on a {
  color: #E65051;
}
.nav .login {
  position: relative;
  padding-left: 20px;
  color: #E65051;
}
.nav .login-icon {
  position: absolute;
  display: block;
  width: 14px;
  height: 17px;
  top: 50%;
  left: 0;
  margin-top: -8px;
  background-image: url(./img/login.png);
}

.section1 {
  position: relative;
  width: 100%;
  height: 691px;
  background: url(./img/pic1.png) no-repeat center/100% 100%;
}

.section1-wrap {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: #040000;
}

.section1__content {
  position: absolute;
  color: #FFF;
  top: 230px;
  left: 117px;
}
.section1__content h3 {
  font-size: 60px;
}
.section1__content p {
  font-size: 21px;
  padding-left: 8px;
}
.section1__content .btn {
  width: 331px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  margin-top: 60px;
}

.section2 {
  height: 250px;
}

.section2__cell {
  float: left;
  width: 25%;
  text-align: center;
}
.section2__cell .icon {
  width: 42px;
  height: 42px;
  margin: 46px auto;
  background: center no-repeat;
}
.section2__cell .icon.i1 {
  background-image: url(./img/i1.png);
}
.section2__cell .icon.i2 {
  background-image: url(./img/i2.png);
}
.section2__cell .icon.i3 {
  background-image: url(./img/i3.png);
}
.section2__cell .icon.i4 {
  background-image: url(./img/i4.png);
}
.section2__cell p {
  position: relative;
  font-size: 14px;
  color: #767777;
}
.section2__cell p span {
  position: absolute;
  display: block;
  width: 2px;
  height: 53px;
  top: 0;
  right: 0;
  background-color: #ABABAB;
}

.section3 {
  height: 360px;
  text-align: center;
  padding-top: 90px;
  background-color: #EDEDED;
}
.section3 h3 {
  font: normal 54px SimHei;
  color: #9F9F9F;
  margin-top: 49px;
}

.section3__icon {
  width: 91px;
  height: 92px;
  margin: auto;
  background-image: url(./img/bk.png);
}

.section4 {
  position: relative;
  height: 341px;
  color: #FFF;
  text-align: center;
  background: url(./img/pic2.png) no-repeat center/100% 100%;
}

.section4-bgwrap {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  top: 0;
  left: 0;
  background-color: #AA3432;
}

.section4-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 52px;
  z-index: 1;
}

.section4-content h3 {
  font-size: 21px;
}
.section4-content .sort-line {
  width: 31px;
  margin: 10px auto 20px;
  border-bottom: 3px #FFF solid;
  border-radius: 4px;
}
.section4-content p {
  font-size: 12px;
}

.option-group {
  width: 1033px;
  margin: 50px auto 0;
}
.option-group .btn {
  float: left;
  width: 237px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
}

.option {
  float: left;
  font-size: 12px;
  margin-right: 27px;
  text-align: left;
}
.option p {
  position: relative;
  width: 237px;
  height: 36px;
  line-height: 36px;
  color: #83868D;
  padding: 0 11px;
  background-color: #FFF;
}
.option .op-icon {
  position: absolute;
  display: block;
  width: 19px;
  height: 19px;
  top: 50%;
  right: 11px;
  margin-top: -10px;
  background: url(./img/option-icon.png) no-repeat center/13px 7px;
  background-color: #BF4E48;
}
.option ul {
  display: none;
  width: 237px;
  padding-bottom: 14px;
  background-color: #E3E3E5;
}
.option li {
  height: 27px;
  line-height: 27px;
  padding: 0 11px;
}
.option li.on, .option li:hover {
  background-color: #BF4E48;
}
.option li.on .on-icon, .option li:hover .on-icon {
  visibility: visible;
}
.option li .on-icon {
  display: inline-block;
  visibility: hidden;
  width: 12px;
  height: 8px;
  margin-right: 10px;
  background-image: url(./img/op-on.png);
}

.option.on {
  border: 2px #C17870 solid;
}
.option.on ul {
  display: block;
}

.section5 {
  height: 607px;
  padding-top: 100px;
  background-color: #F8F8F8;
}
.section5 .section5-wrap {
  width: 993px;
  margin: auto;
}
.section5 .picBox {
  float: left;
  text-align: center;
  margin-right: 35px;
}
.section5 .picBox:last-child {
  margin-right: 0;
}
.section5 .picwrap {
  padding: 13px 8px;
  border: 1px #CECECE solid;
  margin-bottom: 14px;
}
.section5 .pic {
  width: 204px;
  height: 313px;
  background: url(./img/pic4.png) no-repeat;
}
.section5 h4 {
  font-size: 14px;
  font-weight: bold;
}
.section5 .sp h4 {
  font-size: 22px;
}
.section5 .sp p {
  margin: 3px 0;
}
.section5 p {
  font-size: 12px;
  color: #9F9F9F;
  margin: 6px 0;
}
.section5 .p1 {
  background-position: 0 0;
}
.section5 .p2 {
  background-position: -255px -50px;
}
.section5 .p3 {
  background-position: -512px 0;
}
.section5 .p4 {
  background-position: -767px 0;
}

.section6 {
  position: relative;
  overflow: auto;
}
.section6 .pic {
  width: 75%;
  position: relative;
  float: left;
  font-size: 0;
}
.section6 img {
  width: 100%;
}
.section6 .pic:after {
  position: absolute;
  display: block;
  height: 0;
  content: "\00a0";
  top: 50%;
  right: 0;
  border: 25px #FFF solid;
  border-color: transparent #FFF transparent transparent;
}
.section6 .txt {
  position: absolute;
  color: #FFF;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section6 h3 {
  font-size: 50px;
}
.section6 .sp {
  font-size: 150px;
}
.section6 p {
  font-size: 23px;
}
.section6 .intro {
  position: absolute;
  width: 25%;
  right: 0;
  top: 50%;
  text-align: center;
  padding: 124px 70px 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section6 .intro h4 {
  font-size: 24px;
  font-weight: bold;
}
.section6 .intro .sp2 {
  color: #E8504F;
}
.section6 .intro p {
  color: #9F9F9F;
  font-size: 12px;
  margin: 30px 0 48px;
}
.section6 .intro .btn {
  width: 105px;
  height: 36px;
  line-height: 36px;
  color: #E8504F;
  margin: auto;
  background-color: #FFF;
  border: 1px #E8504F solid;
}
.section6 .intro ul {
  width: 60px;
  overflow: auto;
  margin: 24px auto 0;
}
.section6 .intro li {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  border: 1px #B9B9B9 solid;
  border-radius: 50%;
}
.section6 .intro li:last-child {
  margin: 0;
}
.section6 .intro li.on {
  background-color: #B9B9B9;
}
